/**
 * 
 * ====================== CONTENTS =======================
 *
 * GENERAL SITE-WIDE STYLES
 *
 * START SCREEN STYLES
 *
 * FINISH SCREEN STYLES
 *
 * GAMEPLAY SCREEN STYLES:
 *  - Header
 *  - Grid images
 *  - Footer
 *
 */


/* ================= GENERAL SITE-WIDE STYLES ================== */ 
html {
  box-sizing: border-box;
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

@font-face {
  font-family: ObelixPro;
  /* IE9 Compat Modes */
  src: url('../public/assets/font/ObelixPro.eot');
  src: 
       /* IE6-IE8 */
       url('../public/assets/font/ObelixPro.eot?#iefix') format('embedded-opentype'), 
       /* Super Modern Browsers */
       url('../public/assets/font/ObelixPro.woff2') format('woff2'), 
       /* Pretty Modern Browsers */
       url('../public/assets/font/ObelixPro.woff') format('woff'),
       /* Safari, Android, iOS */
       url('../public/assets/font/ObelixPro.ttf') format('truetype');
}

body {
  background-color: #03a9f4;
  font-family: ObelixPro, Impact, fantasy;
  letter-spacing: 0.1em;
  text-transform: uppercase;
  overflow-y: hidden;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none; 
}


/* ================= START SCREEN STYLES ================== */ 
#start-screen-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
         -webkit-box-pack: center;
            -ms-flex-pack: center;
        -webkit-box-align: center;
           -ms-flex-align: center;
  -webkit-justify-content: center;
          justify-content: center;
      -webkit-align-items: center;
              align-items: center;          
  margin: auto;
  height: 100vh;
  background: #03a9f4;
  -webkit-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out;
}

#start-screen-container > p {
  margin-bottom: 3em;
  width: 80%;
  color: #ffffff;
  text-align: center;
  font-size: 1.8em;
}

.start-button {
  width: 80%;
  padding: 0.9em 0.7em 0.7em 0.7em;
  border-radius: 3px;
  background: #f5f6f6;
  color: #03a9f4;
  text-align: center;
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
  box-shadow: 0em 0.1em 0.3em 0em rgba(0,0,0,0.5);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
          transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
}

.start-button-non-touch {
  -webkit-transition: background 0.2s ease-in-out,
                      box-shadow 0.2s ease-in-out;
  transition: background 0.2s ease-in-out,
              box-shadow 0.2s ease-in-out;
}

.start-button-non-touch:hover {
  background: #f8f9f9;
  box-shadow: 0em 0.2em 0.4em 0em rgba(0,0,0,0.5);
}

.start-button:active {
  background: #ffffff;
  box-shadow: 0em 0.2em 0.6em 0.1em rgba(0,0,0,0.5);
  -webkit-transition: box-shadow 0.1s cubic-bezier(0.4,0,0.2,1);
          transition: box-shadow 0.1s cubic-bezier(0.4,0,0.2,1);
}

.start-button:focus {
  outline: none;
}

@media screen and (min-width: 500px) {
  .start-button {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .start-button {
    width: 40%;
  }
}

@media screen and (min-width: 1400px) {
  .start-button {
    width: 25%;
  }
}


/* ================= FINISH SCREEN STYLES ================== */ 
#finish-screen-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
         -webkit-box-pack: center;
            -ms-flex-pack: center;
        -webkit-box-align: center;
           -ms-flex-align: center;
  -webkit-justify-content: center;
          justify-content: center;
      -webkit-align-items: center;
              align-items: center;
  margin: auto;
  height: 100vh;
  background: #03a9f4;
  -webkit-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out;  
}

.finishMessage {
  margin-bottom: 1.4rem;
  width: 80%;
  color: #ffffff;
  text-align: center;
  font-size: 1.8rem;
}

@font-face {
  font-family: HandFacesSt;
  src: url('../public/assets/font/HandFacesSt.ttf');
}

.graphic {
  color: #ffffff;
  font-family: HandFacesSt;
  font-size: 10rem;
}

.finish-button {
  margin-bottom: 2rem;
  width: 80%;
  padding: 0.9em 0.7em 0.7em 0.7em;
  border-radius: 3px;
  background: #f5f6f6;
  color: #03a9f4;
  text-align: center;
  cursor: pointer;
  box-shadow: 0em 0.1em 0.3em 0em rgba(0,0,0,0.5);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
          transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.finish-button-non-touch {
  -webkit-transition: background 0.2s ease-in-out,
                      box-shadow 0.2s ease-in-out;
          transition: background 0.2s ease-in-out,
                      box-shadow 0.2s ease-in-out;
}

.finish-button-non-touch:hover {
  background: #f8f9f9;
  box-shadow: 0em 0.2em 0.4em 0em rgba(0,0,0,0.5);
}

.finish-button:active {
  background: #ffffff;
  box-shadow: 0em 0.2em 0.6em 0.1em rgba(0,0,0,0.5);
  -webkit-transition: box-shadow 0.1s cubic-bezier(0.4,0,0.2,1);
          transition: box-shadow 0.1s cubic-bezier(0.4,0,0.2,1);
}

.finish-button:focus {
  outline: none;
}

#info-link {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
  color: #ffffff;
  text-decoration: none;
}

#info-link > span {
  margin-left: 0.3em;
  padding-top: 0.1em;
  font-size: 0.6em;
}

@media screen and (max-width: 499px) {
  .graphic {
    margin-bottom: 1.4rem;
  }
}

@media screen and (min-width: 500px) {
  .finish-button {
    width: 50%;
  }
}

@media screen and (min-width: 992px) {
  .finish-button {
    width: 40%;
  }
}

@media screen and (min-width: 1400px) {
  .finish-button {
    width: 25%;
  }
}


/* ================= GAMEPLAY SCREEN STYLES ================== */
#gameplay-screen-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  background-color: #f4f4f4;
  text-transform: uppercase;
  -webkit-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out;
}

#gameplay-screen {
  margin: auto;
  width: 100%;
  height: 100%;
  background: #ffffff;
  box-shadow: 0 30px 80px 0 rgba(0, 0, 0, 0.1),
              0 20px 60px 0 rgba(0, 0, 0, 0.1);
}

@media screen and (min-width: 550px) {
  #gameplay-screen {
    width: 400px;
    height: 82%;
    border-radius: 4px;
  }
}

@media screen and (min-width: 550px) and (min-height: 1px) {
  #gameplay-screen {
    width: 100%;
    height: 100%;
    border-radius: 0px;
  }
}

@media screen and (min-width: 550px) and (min-height: 400px) {
  #gameplay-screen {
    width: 500px;
    height: 390px;
  }
}

@media screen and (min-width: 550px) and (min-height: 500px) {
  #gameplay-screen {
    width: 370px;
    height: 490px;
  }
}

@media screen and (min-width: 550px) and (min-height: 600px) {
  #gameplay-screen {
    width: 385px;
    height: 550px;
  }
}

@media screen and (min-width: 550px) and (min-height: 700px) {
  #gameplay-screen {
    width: 420px;
    height: 650px;
  }
}


/* ================= HEADER STYLES ================== */
header {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  -webkit-justify-content: space-between;
          justify-content: space-between;
    -webkit-box-align: center;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
  height: 27%;
  padding: 0.8em 0.8em;
  background: #03a9f4;
}

header > p {
  width: 60%;
  text-align: center;
  color: #ffffff;
  font-size: 0.9em;
  line-height: 1.6em;
}

#main-image-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
     -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
  width: 40%;
  height: 96%;
  max-height: 96%;
  -webkit-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out;
}

#main-image {
  height: 100%;
  width: auto;
  max-width: 100%;
  border: solid 3px #03a9f4;
  border-radius: 3px;
  box-shadow: 0px 1px 6px 3px rgba(0,0,0,0.08);
}

#header-drop-shadow {
  height: 1%;
  box-shadow: inset 0px 3px 3px -1px rgba(0,0,0,0.3);
}
  
@media screen and (max-width: 549px) {
  #main-image-container {
    width: 35vw;
    height: 35vw;
  }
}

@media screen and (min-width: 550px) {
  header {
    border-radius: 4px 4px 0px 0px;
  }
  
  header > p {
    font-size: 0.95em;
  }
}

@media screen and (max-width: 330px) and (max-height: 500px) {  
  header > p {
    font-size: 0.85em;
  }
}

@media screen and (min-width: 550px) and (min-height: 500px) and (max-height: 699px) {  
  header > p {
    font-size: 0.9em;
    width: 63%;
  }

  #main-image-container {
    width: 37%;
  }
}

@media screen and (min-width: 550px) and (max-height: 299px) {
  header {
    border-radius: 0;
  }
  
  header > p {
    width: 85%;
  }
  
  #main-image-container {
    width: 15%;
  }
}


/* ================= GRID IMAGES STYLES ================== */
#grid-images-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  height: 59%;
  padding-left: 1em;
  padding-right: 1em;
  -webkit-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out;
}

.grid-image-container {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
    -webkit-box-align: center;
  -webkit-align-items: center;
       -ms-flex-align: center;
          align-items: center;
       -webkit-flex-basis: 50%;
  -ms-flex-preferred-size: 50%;
               flex-basis: 50%;
  height: 49%;
  -webkit-transition: opacity 0.25s ease-in-out;
          transition: opacity 0.25s ease-in-out;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.grid-image-container:nth-child(even) {
  -webkit-box-pack: end;
     -ms-flex-pack: end;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
}

.grid-image-container:nth-child(odd) {
  -webkit-box-pack: start;
     -ms-flex-pack: start;
  -webkit-justify-content: flex-start;
          justify-content: flex-start;
}

/*
  Grid images can be selected
  thanks to hidden input checkboxes
  which are absolutely positioned
  on the top of every grid image
*/
.grid-image-container > input {
  position: absolute;
  left:   0;
  right:  0;
  top:    0;
  bottom: 0;
  margin-left:   auto;
  margin-right:  auto;
  margin-top:    auto;
  margin-bottom: auto;
  height: 95%;
  width:  95%;
  opacity: 0.0;
  cursor: pointer;
}

.grid-image {
  height:     90%;
  max-height: 90%;
  width:     92%;
  max-width: 92%;
  border: solid 4px rgba(5,5,5,0);
  border-radius: 3px;
  box-shadow: 0px 1px 1px 0px rgba(0,0,0,0.2),
              0px 2px 2px 0px rgba(0,0,0,0.15);
  -webkit-transition: box-shadow 0.2s cubic-bezier(0.4,0,0.2,1);
          transition: box-shadow 0.2s cubic-bezier(0.4,0,0.2,1);
}

.grid-image-container input:checked + .grid-image {
  border: solid 4px #03a9f4;
}

@media screen and (max-width: 329px) {
  .grid-image {
    max-width: 40vw;
  }
}

@media screen and (max-width: 549px) {
  .grid-image-container input:checked + .grid-image {
    box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.25),
                0px 3px 8px 1px rgba(0,0,0,0.2);
  }
  
  .grid-image {
    height: 41vw;
    max-width: 42vw;
  }
}

@media screen and (min-width: 400px) and (max-width: 549px) and (max-height: 600px) {
  .grid-image {
    height: 90%;
    max-height: 90%;
    width: auto;
  }
}


@media screen and (min-width: 550px) {
  .grid-image-container input:checked + .grid-image {
    box-shadow: 0px 1px 4px 2px rgba(0,0,0,0.1),
                0px 1px 4px 2px rgba(0,0,0,0.15);
  }
}

@media screen and (min-width: 550px) and (max-height: 499px) {
  .grid-image-container {
           -webkit-box-pack: center!important;
    -webkit-justify-content: center!important;
              -ms-flex-pack: center!important;
            justify-content: center!important;
  }
  .grid-image {
    height:     90%;
    max-height: 90%;
    width: auto;
  }
}

@media screen and (min-width: 550px) and (min-height: 500px) {
  .grid-image {
    height:     90%;
    max-height: 90%;
    width:     87%;
    max-width: 87%;
  }
}

@media screen and (min-width: 550px) and (min-height: 600px) {
  .grid-image {
    height:     90%;
    max-height: 90%;
    width:     92%;
    max-width: 92%;
  }
}

@media screen and (min-width: 450px) and (min-height: 600px) and (max-height: 699px) {
  .grid-image {
    height:     90%;
    max-height: 90%;
    width: auto;
  }
}


/* ================== FOOTER STYLES ================== */
footer {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
     -ms-flex-pack: justify;
  -webkit-justify-content: flex-end;
          justify-content: flex-end;
    -webkit-box-align: center;
       -ms-flex-align: center;
  -webkit-align-items: center;
          align-items: center;
  height: 13%;
  width: 100%;
  padding: 0.8em 1em 1em 1em;
}

#next-button-container {
  width: 38%;
}

.next-button {
  padding: 0.9em 0.7em 0.7em 0.7em;
  border-radius: 3px;
  background: #03a9f4;
  color: #ffffff;
  text-align: center;
  font-size: 0.9em;
  box-shadow: 0em 0.1em 0.3em 0em rgba(0,0,0,0.5);
  -webkit-transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
          transition: box-shadow 0.3s cubic-bezier(0.4,0,0.2,1);
  cursor: pointer;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  -webkit-tap-highlight-color: transparent;
}

.next-button-non-touch:hover {
  background: #30b7f4;
  box-shadow: 0em 0.1em 0.4em 0em rgba(0,0,0,0.5);
}

.next-button:active {
  background: #4bbff4;
  box-shadow: 0em 0.2em 0.6em 0.1em rgba(0,0,0,0.5);
  -webkit-transition: box-shadow 0.1s cubic-bezier(0.4,0,0.2,1);
          transition: box-shadow 0.1s cubic-bezier(0.4,0,0.2,1);
}

.next-button:focus {
  outline: none;
}

@media screen and (min-width: 550px) {
  .next-button {
    font-size: 0.95em;
  }
}

@media screen and (min-width: 1px) and (max-height: 499px) {
  .next-button {
    padding: 0.3em 0.3em 0.1em 0.3em;
  }
}
